<div class="flex flex-col">
  <div class="justify-center flex items-center flex-wrap pt-4 pb-12">
    @for(user of users;track user.id){
    <div
      class="md:w-1/ xl:w-1/4 p-5 m-3 flex flex-col items-center max-w-80 bg-gray-100 shadow-lg hover:scale-105 transform transition duration-y"
    >
      <img
        class="rounded-full max-w-56"
        ngSrc="{{ user.avatar }}"
        alt="Avatar"
        width="500"
        height="500"
      />
      <h1 class="font-poppins text-lg py-3">
        {{ user.first_name }} {{ user.last_name }}
      </h1>
      <button
        (click)="navigateToPage()"
        class="bg-blue-100 text-lg py-2 px-5 rounded-lg shadow-lg hover:bg-blue-200"
      >
        View
      </button>
    </div>
    }
  </div>

  <!-- Paginations -->
  <div
    class="flex items-center justify-center border-t border-gray-200 bg-white px-6 py-3 sm:px-36"
  >
    <div class="flex flex-1 items-center justify-between">
      <div>
        <p class="text-sm text-gray-700 text-xl">
          Showing
          <span class="font-medium">{{ page }}</span>
          to
          <span class="font-medium">{{ showingTo }}</span>
          of
          <span class="font-medium">{{ total }}</span>
          results
        </p>
      </div>
      <div>
        <nav
          class="isolate inline-flex -space-x-px rounded-md shadow-sm font-poppins"
          aria-label="Pagination"
        >
          <div
            (click)="next()"
            class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            <svg
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
          <div *ngFor="let item of [].constructor(totalPages); let i = index">
            @if (i == 0) {
            <div
              (click)="changePage(i + 1)"
              aria-current="page"
              class="text-xl relative z-10 inline-flex items-center bg-blue-400 px-4 py-2 text-sm font-semibold hover:cursor-pointer text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400"
            >
              {{ i + 1 }}
            </div>
            } @else {
            <div
              (click)="changePage(i + 1)"
              class="text-xl relative inline-flex items-center hover:cursor-pointer px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              {{ i + 1 }}
            </div>

            }
          </div>
          <div
            (click)="back()"
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            <span class="sr-only">Next</span>
            <svg
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
