<footer class="w-full bg-blue-100 bg py-5">
  <div class="flex justify-center items-center">
    <p>Need Help?</p>
    <a
      href="https://www.maids.cc/whatsapp-us?nb=nb1"
      class="flex justify-center items-center hover:bg-gray-100 mx-5 px-3 py-3 hover:rounded-md hover:text-white"
    >
      <img
        src="assets/whatsapp.png"
        width="20"
        height="20"
        alt="whatsapp logo"
      />
      <p class="pl-1 text-green-600">Whatsapp Us at +971 42479191</p>
    </a>
  </div>
</footer>
