<div class="mx-10 flex flex-col items-center">
  <a
    routerLink=""
    class="absolute top-[140px] bg-blue-100 hover:bg-blue-200 hover:scale-110 rounded-lg p-3"
  >
    Not Feeling Confident? Return To Home
  </a>
  <div
    class="w-[1300px] h-[500px] flex flex-row relative bg-blue-100 rounded-2xl"
  >
    <img class="rounded-xl" ngSrc="{{ avatar }}" width="500" alt="Avatar" />
    <div
      class="px-10 text-2xl font-poppins grid grid-cols-2 place-items-center w-full"
    >
      <h1>First Name:</h1>
      <h1>{{ firstName }}</h1>
      <h1>Last Name:</h1>
      <h1>{{ lastName }}</h1>
      <h1>Email:</h1>
      <h1>{{ email }}</h1>
      <h1>Identification:</h1>
      <h1>{{ id }}</h1>
    </div>
  </div>
</div>
